---
import Footer from './Footer.astro'
import Section from './Section.astro'
---

<Section id="accessories" color="black" title="Accessories" subtitle="">
  <div slot="footer" class="gap-x-6 flex mx-auto">
    <a
      class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors hover:border-gray-500 hover:bg-gray-500"
      href="#"
    >
      Shop Now
    </a>
  </div>

  <img
    slot="background"
    class="h-full w-full object-cover object-center"
    id="bg-image-accessories"
    src="/assets/accessories.avif"
    alt="Accessories"
  />
</Section>

<Footer />

<script>
  function isEdge() {
    if (
      navigator.userAgent.indexOf('Edge') > -1 ||
      navigator.userAgent.indexOf('Edg') > -1
    ) {
      return true
    }
    return false
  }

  const $imageElement = document.querySelector(
    '#bg-image-accessories'
  ) as HTMLImageElement

  if (isEdge()) {
    $imageElement.src = '/assets/accessories.webp'
  } else {
    $imageElement.src = '/assets/accessories.avif'
  }
</script>
