---
import Section from './Section.astro'
---

<Section
  id="model-3"
  color="black"
  title="Model 3"
  subtitle="Lease from $399/month"
>
  <div slot="footer" class="gap-x-6 flex mx-auto">
    <a
      class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors hover:border-gray-500 hover:bg-gray-500"
      href="#"
    >
      Order Now
    </a>

    <a
      class="bg-white text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
      href="#"
    >
      Demo Drive
    </a>
  </div>

  <img
    slot="background"
    class="h-full w-full object-cover object-center"
    id="bg-image-model3"
    src="/assets/mode-3.avif"
    alt="Model 3"
  />
</Section>

<script>
  function isEdge() {
    if (
      navigator.userAgent.indexOf('Edge') > -1 ||
      navigator.userAgent.indexOf('Edg') > -1
    ) {
      return true
    }
    return false
  }

  const $imageElement = document.querySelector(
    '#bg-image-model3'
  ) as HTMLImageElement

  if (isEdge()) {
    $imageElement.src = '/assets/model-3.webp'
  } else {
    $imageElement.src = '/assets/model-3.avif'
  }
</script>
